/* Sets default fault of page to Courier New */
*{
    
}

/* Adjusts navbar height */
.navbar-brand
{
    
    height: 70px;
    
}

/* Controls the header in the Navbar that says "Navbar" */
nav h1
{
    font-size: 40px;
    float: left;
    color: rgb(161, 245, 217);
    padding: 10px;
    margin: 10px;
    grid-row: 1/2;
    font-family: 'Courier New', Courier, monospace;


}

/* Controls the navigation links that drop 
down whenever you select the menu button */
.nav-link{
    float: right;
    font-family: 'Courier New', Courier, monospace;

}

/* Main h1 formatting */
main
{
    text-align: center;
    font-weight: bolder;
    padding: 20px;
    margin: 20px;
    font-size: 60px;
    font-family: 'Calibri', 'Trebuchet MS', sans-serif;
    font-style: oblique;
}

